@import "tailwindcss";

@keyframes fade-in {
    from {
        filter: brightness(1);
    } to {
        filter: brightness(0.5);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-275px);
    } to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-275px);
    }
}

